body{
  font-family: Helvetica;
  background-color: white;
  height: 2000px;
  background: url('trainbg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#name,#userid,#email,#password,#repassword,#mobile{
	background: #f5f5f5;
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 270px;
    margin-bottom: 10px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
	box-sizing: border-box;

}
#userid:focus,#name:focus,#email:focus,#password:focus,#repassword:focus,#mobile:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #4CAF50, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}
.button {
	  width:270px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;

}
.button:hover {
    background-color: #4CAF50;
    color: white;
}
#box {
  border-radius:10px;
  border-radius:10px;
  border-radius:10px;
  border: 1px solid black;
  background-color:transparent;
  background-color:#CCC;
  width:300px;
  margin-left:80px;
  margin-top:50px;
  margin-bottom: 80px;
  background: rgba(60,60,60,0.4);
  z-index:-1;
}
box a{
  color: white;
}